html {
  height: 400px;
  width: 700px;
}

body {
  background: #222;
  margin: 0;
  height: 400px;
  width: 700px;
}

video {
  width: 640px;
  height: 480px;
  background: rgba(0,0,0,0.25);
  border: 1px solid #e2e2e2;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

button {
  display: inline-block;
  background: -webkit-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

button:hover,
button.active {
  border-color: black;
}

button:active,
button.active {
  background: -webkit-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
}

#header {
  background: white;
  height: 40px;
  width: 100%;
  padding-left: 15px;
}

#sidebar {
  width: 199px;
  float: left;
  height: 100%;
  border-right: 1px solid #44AB0D;
  background: #50BD14;
}

#sidebar .footer {
  bottom: 0px;
  position: fixed;
}

#marcoborg {
  font-size: 8pt;
  color: #fff;
  text-decoration: none;
  text-align: center;
  width: 190px;
  display: block;
  padding-bottom: 10px;
}

#options {
  padding-top: 10px;
}

#options input {
  height: 30px;
  width: 180px;
  margin: 10px;
  text-decoration: none;
  background: white;
  border: 1px solid #44AB0D;
  background: #77D842;
  color: white;
  padding: 0 10px;
}

#options a {
  width: 180px;
  margin: 10px;
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 0px;
}

#options a:hover {
  background: #44AB0D;
  text-decoration: none;
}

#options .divider {
  border-top: 1px solid #4BAD15;
  height: 1px;
  width: 179px;
  margin: 10px;
  clear: both;
}

.main {
  background: #222;
  width: 500px;
  float: left;
  text-align: center;
  padding-top:150px;
}