html {
  height: 100%;
  width: 100%;
}

body {
  background: #222;
  margin: 0;
  height: 100%;
  width: 100%;
}

video {
  width: 640px;
  height: 480px;
  background: rgba(0,0,0,0.25);
  border: 1px solid #e2e2e2;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

button {
  display: inline-block;
  background: -webkit-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

button:hover,
button.active {
  border-color: black;
}

button:active,
button.active {
  background: -webkit-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
}

#btnScreenshot {
  color: #999;
  font-size: 14pt;
  position: relative;
  top: 50%;
  cursor: pointer;
  padding: 20px;
  background: url('../images/new.png') 70px 10px no-repeat;
  background-size: 42px;
  padding-top: 70px;  
}

#btnSettings {
  color: #999;
  font-size: 7pt;
  position: fixed;
  cursor: pointer;
  margin: 5px;
  background: url('../images/settings.png') no-repeat;
  background-size: 20px;
  bottom: 5px;
  left: 5px;
  height: 20px;
  width: 20px;
  z-index: 1;
}

#btnSettingsText {
  padding-left: 25px;
  padding-top: 3px;
  display: none;
  position: fixed;
  bottom: 15px;
  left: 10px;
}

#btnSettings:hover #btnSettingsText {
  display: block;
}

#btnHelp {
  color: #999;
  font-size: 7pt;
  position: fixed;
  cursor: pointer;
  margin: 5px;
  background: url('../images/help.png') no-repeat;
  background-size: 20px;
  bottom: 5px;
  right: 5px;
  height: 20px;
  width: 20px;
  z-index: 1;
}

#btnHelpText {
  padding-right: 25px;
  padding-top: 3px;
  display: none;
  position: fixed;
  bottom: 15px;
  right: 10px;
}

#btnHelp:hover #btnHelpText {
  display: block;
}

.options {
  height: 27px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #666;
  border-top: 1px solid #333;
  padding-top: 13px;
}

.options input {
  height: 30px;
  width: 200px;
  margin: 10px;
  text-decoration: none;
  border: 0px;
  background: #222;
  color: #999;
  padding: 0 10px;
}

.options a {
  text-decoration: none;
  color: #999;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  display:inline-block;
  padding-top: 0;
}

.options a:hover {
  color: #ccc;
  text-decoration: none;
}

.options .enabled {
  color: #999;
  cursor: pointer;
}

.options .disabled {
  color: #555;
  cursor: default;
}

.options .disabled:hover {
  color: #555;
  cursor: default;
}

.main {
  background: #222;
  width: 100%;
  float: left;
  text-align: center;
  height: 100%;
}

.modal {
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  position:absolute;
  width: 400px;
  height: 280px;
  background-color: #fefefe;
  z-index: 2;
  box-shadow: 0px 0px 5px #aaa;
  border: #ccc solid 1px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  animation: fadeIn 0.15s;
}

.modalBg {
  background-color: rgba(10,10,10, 0.4);
  width: 100%;
  height: 100%;
  position:fixed;
  z-index: 1;
  display: none;
  opacity: 0;
  animation: fadeIn 0.15s;
}

.modalButtonsCont {
  background-color: #f3f3f3;
  width: 100%;
  height: 40px;
  bottom: 0;
  position: absolute;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

.modalButton {
  cursor: pointer;
  color: #737373;
  display: inline-block;
  padding: 13px;
  margin: auto;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.modalTitle {
  padding: 10px;
  color: #444;
  font-size: 11pt;
  font-weight: 300;
  border-bottom: 1px #f7f7f7 solid;
}

.modalMessage {
  padding: 10px 20px;
  font-size: 9pt;
  font-weight: 200;
}

#historyMessage {
  overflow: auto;
  height: 192px;
}

#historyMessage ul {
  list-style: none;
}

#historyMessage ul li{
  margin: 15px 0;
  height: 10px;
}

#historyMessage ul li a, #historyMessage ul li p, #historyMessage ul li input {
  width: 100px;
  display: block;
  float: left;
  margin: 0;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}